
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #02040a;
    color: white;
}

h2 {
    color: #4da6ff;
    margin-bottom: 10px;
    text-align: center;
}

.hero {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #000814, #001d3d);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #4da6ff;
    object-fit: cover;
    margin-bottom: 15px;
    box-shadow: 0 0 20px #4da6ff;
}

.hero h1 {
    font-size: 2.2rem;
    margin: 10px 0;
}

.hero p {
    color: #a8bcd9;
}

.about {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #001219;
    
    border-radius: 8px;
}

.skills ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 0;
}

.skills li {
    background: #003566;
    padding: 10px 18px;
    border-radius: 8px;
    border: 1px solid #4da6ff;
    transition: 0.3s;
}

.skills li:hover {
    background: #4da6ff;
    color: black;
}


.projects {
    margin: 50px auto;
    max-width: 1000px;
}

.project-card {
    background: #001d3d;
    border-left: 4px solid #4da6ff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px #4da6ff;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: #000814;
    color: #7a8ca5;
}
